*{
    margin: 0 !important;
    padding: 0 !important;
}
body{
    font-family: Arial, sans-serif !important;
    background-color: #f5f7fa !important;
}
header{
    background-color: #000000  !important;
    color: rgb(255, 255, 255) !important;
    text-align: center !important;
    padding: 0em, !important;
}
footer{
    background-color: #000000 !important;
    color: white !important;
    text-align: center !important;
    padding: 0.4em !important;
}
.ImgPerfil{
    width: 150px !important;
    height: 150px !important;
    border-radius: 50% !important;
}
.conteudo{
    background-color: #ffffff !important;
    padding: 0em !important;
    margin-top: 1em !important;
    border-radius: 30px !important;
    width: 100% !important;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.212) !important;
    color: rgb(32, 30, 30) !important;
}
a{
    text-decoration: none !important;
    color: rgb(255, 255, 255) !important;
}
.Principal{
    margin-left: 36% !important;
    margin-right: 36% !important;
    margin-top: 2% !important;
    margin-bottom: 1% !important;
}
.img-icone{
    width: 50% !important;
    margin-top: 1.8em !important;
    position: relative !important;
    left: 90px !important; 
}
.img-icone-redodes{
    width: 50% !important;
    margin-top: 1.8em !important;
    position: relative !important;
    left: 90px !important;
    bottom: 1px !important;
    border-radius: 20px !important;
}
.txt-icone{
    text-align: center !important;
    font-family: Arial, sans-serif !important;
    font-size: 120% !important;
    padding: 2em !important;
}

.contute{
    margin-bottom: 5em !important;
}

@media (min-width: 200px) and (max-width: 1024px){
        .img-icone{
            width: 100% !important;
            left: 50px !important;
        }
        .img-icone-redodes{
            width: 100% !important;
            left: 50px !important;  
        }
        .txt-icone{
            margin-top: 1em !important;
            font-size: 100% !important;
        }
        .conteudo{
            padding: 0.5em !important;
            margin-top: 2em !important;
            border-radius: 10px !important;
            width: 130%;
        }
        .Principal{
            text-align: center;
            margin-left: 10% !important;
            margin-right: 10% !important;
            margin-top: 1% !important;
            margin-bottom: 0% !important;
        }
        
}
